@use "functions";

.itemBoxLayout {
	display: grid;
	gap: functions.rem(20);
	min-height: functions.rem(1024);

	@media (max-width: 750px) {
		min-height: functions.rem(768);
	}
}

.itemLink {
	color: $colorBaseDark3;
	text-decoration: none;
	cursor: pointer;
} 

.itemBoxArea {
	width: 100%;
}

.itemBoxArea:hover {
	opacity: 0.5;
}

.itemBoxContents {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: functions.rem(20);
	min-height: functions.rem(120);
	padding: functions.rem(20);
	background-color: rgb(255 255 255 / 60%);

	@media (max-width: 750px) {
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		min-height: functions.rem(110);
	}
}

.itemPhoto {
	display: grid;
	place-items: center;

	@media (max-width: 750px) {
		flex: 0 0 functions.rem(80);
		width: functions.rem(80);

		> img {
			width: functions.rem(80);
			height: functions.rem(80);
		}
	}
}

.photo {
	object-fit: cover;
	border-radius: 50%;
}

.boxBottom {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
}

.itemTitle {
	width: auto;
	overflow: hidden;

	text-overflow: ellipsis;
	white-space: nowrap;

	@media (max-width: 750px) {
		width: auto;
	}
}
